div{
  width: 200px;
  height: 200px;
  border: 1px solid red;
  border-radius: 100%;
  background-image: url("../004 practice/02 image/puppy.jpg")
  background-size: cover;
  background-repeat: no;
}

img {
  border: 10px dashed;
  border-radius: 100%;
}

.dogone{
  border: 10px red;
}

.dogtwo{
  border: 10px dotted;
}

.dogthree {
  border: 10px double;
}
